@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import "./navBar.css";
@import "./footer.css";
@import "./homePage.css";
@import "./category.css";
@import "./car.css";
@import "./register.css";
@import "./login.css";
@import  "./editPage.css";
@import "./cartDetails.css";
@import "./resevePage.css";

body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 248, 255);
    position: relative;
}

a {
    text-decoration: none;
}

.errorPlace {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10%;
}

.errorMessage {
    background-color: turquoise;
}