.formRegister {
    border: 1.5px solid black;
    width: 40%;
    margin: 10% 30%;
    padding: 2%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(250, 239, 224);
}

.registerBut {
    margin: 3%;
    font-size: 1rem;
    padding: 3% 4%;
    justify-content: center;
    align-items: center;
}

.inputReg {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detailsInfo {
    display: none;
}

.info:hover  .detailsInfo {
    border: solid 1px red;
    background-color: white;
    display: block;
    position: absolute;
    top: 5%;
    right: 10%;
    width: 60%;
    z-index: 10;
}